:root {
    --header-width: 60px;
    --nav-height: 50px;
}

body{
    font-family: "Roboto", sans-serif;
}

header,
main {
    padding-top: var(--nav-height);
}

.my_tag {
    font-size: .8rem;
}

/* || HEADER */
header {
    background-color: #12293f;
    width: var(--header-width);
}

nav {
    height: var(--nav-height);
}

.navbar-brand {
    width: 75px;
}

nav input {
    background-color: #e5e5e5;
}

.header_nav li i{
    width: 2rem;
}

nav a:link,
nav a:visited {
    color: black;
}

.dropdown i {
    color: #ff8f00;
}

.dropdown-toggle::after{
    display: none;
}

/* || MAIN */
#add-student {
    border-radius: 10px;
    padding: 0 .8rem;
}

/* ** STYLE */
.my_bg-lightblue {
    background-color: #1b72e8;
}

.my_bg-blue {
    background-color: #165bba;
}

.my_bg-lightgrey {
    background-color: #f7f7f7;
}

.my_bg-red {
    background-color: #f16551;
}


/* || MEDIA QUERIES */
/* ! almeno 768px di larghezza */

/* ! almeno 992px di larghezza */
@media screen and (min-width: 992px){
    :root{
        --header-width: 150px
    }

    .navbar-brand {
        width: 175px;
    }
}


/* ! almeno 1200px di larghezza */