:root {
    --header-width: 60px;
    --nav-height: 50px;
}

body{
    font-family: "Roboto", sans-serif;
}

.my_tag {
    font-size: .8rem;
}

/* || HEADER */
header,
main {
    padding-top: var(--nav-height);
}

header {
    width: var(--header-width);
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

nav {
    height: var(--nav-height);
}

.navbar-brand {
    width: 75px;
}

nav input {
    background-color: #e5e5e5;
}

.header_nav li i{
    width: 2rem;
}

nav a:link,
nav a:visited {
    color: black;
}

.dropdown i {
    color: #ff8f00;
}

.dropdown-toggle::after{
    display: none;
}

/* || MAIN */
#add-student {
    padding: 0 .8rem;
}

#offcanvasAddForm {
    width: 100%;
}

span.input-group-text,
.form-control::file-selector-button {
    background-color: #e9ecef;
}

#class-name {
    width: 50%;
}

table img {
    width: 30px;
}

/* ** STYLE */
.my_bg-lightblue {
    background-color: #1b72e8;
}

.my_bg-blue {
    background-color: #165bba;
}

.my_bg-lightgrey {
    background-color: #f7f7f7;
}


/* || MEDIA QUERIES */
/* ! md - almeno 768px di larghezza */
@media screen and (min-width: 768px) {
    #class-name {
        width: 40%;
    }
}


/* ! lg - almeno 992px di larghezza */
@media screen and (min-width: 992px){
    :root{
        --header-width: 150px
    }

    .navbar-brand {
        width: 175px;
    }

    #offcanvasAddForm {
        width: 55%;
    }
}


/* ! xl - almeno 1200px di larghezza */
@media screen and (min-width: 1200px) {
    #class-name {
        width: 55%;
    }
}


/* ! xxl - almeno 1400px di larghezza */
@media screen and (min-width: 1400px) {
    #class-name {
        width: 60%;
    }
}